<div class="container mt-4">
  <h3 class="mb-3">Your Borrowed Books</h3>
  <p *ngIf="message" class="alert alert-warning">{{ message }}</p>

  <table *ngIf="borrowedBooks.length > 0" class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>S.No</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Borrowed Date</th>
        <th>Returned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of borrowedBooks; let i = index">
        <td>{{i+1}}</td>
        <td>{{ book.bookTitle }}</td>
        <td>{{ book.bookAuthor }}</td>
        <td>{{ book.borrowDate}}</td>
        <td>
          <span [ngClass]="book.returnDate ? 'text-success' : 'text-danger'">
            {{ book.returnDate ? 'Returned' : 'Not Returned' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="borrowedBooks.length === 0 && !message" class="alert alert-info text-center mt-4">
  <i class="bi bi-book"></i> You have not borrowed any books yet. Start exploring and borrow your first one!
</div>

</div>
