.card {
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: scale(1.03);
  z-index: 2;
}

.card-text.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.favorite-btn:hover {
  transform: scale(1.1);
}
